<!DOCTYPE html>
<html>
<head>
  <title>{{error}}</title>
</head>
<body>
  <h2 class="error">Error : {{statusCode}} - {{error}}</h2>
  <h1>Woops.  These are not the droids you're looking for.</h1>
  <p>Sorry about that, why don't you return to the <a href="/">home page</a> and try again</p>
</body>
</html>